@import './../../../styles';
:host {
    @include vertical-center();
}

.game-board {
    width: 300px;
}

.reset-btn {
    width: 100px;
    margin-top: 18px;
}

// .board-tile {
//     background: #3e415f;
//     cursor: pointer;
//     &:hover {
//         background: #545665;
//     }
// }
